@import "~bootstrap/scss/bootstrap";

.navbar{
    background-color: #37B6CE;
    color: #015666;
    box-shadow: 0 2px 8px #333;
    text-align: center;

}

.navbar-brand{
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -1px;
    margin: auto auto; 
}

.form-group{
    margin: 7rem auto;
    width: 30%;

    border-radius: 25px;
    padding: 2%;
    background-color: #37B6CE;
    box-shadow: 0 2px 8px #333;
}

.form-group > h1, .form-group > small{
    margin-bottom: 5%;
}
.Sidebar, .error{
    position: absolute;
    top: 10.5%;
    left: 0;
    width: 20%;

}
.sidebar-sticky{
    position: -webkit-sticky;
    position: sticky;
    border-bottom: 1px solid #37B6CE;
    margin: 0 2%;
}

.sidebar-heading{
    margin-top: 2%;

    background-color: #37B6CE;
    color: white;
}

.sidebar-heading > img{
    margin-top: 1%;
}
.table-responsive{
    width: 40%;
    margin: 0 auto;
}
#Table > thead > tr{
    background-color:#37B6CE;
    color: white;
     
}

// .title, .SideBar{
    
//     padding: 1% 0 0 0;
//     position: fixed;
//     background-color: #37B6CE;
//     backdrop-filter: blur(5px);
//     color: #015666;
 
// }

// .title{
//     height: 60px;
//     width: 100%;
//     left: 0;
//     right: 0;
//     top: 0;
//     z-index: 1;
//     text-align: center;
//     vertical-align: middle;
//     font-size: 40px;
//     font-weight: 700;
//     letter-spacing: -1px;

//     border-bottom: 2px solid #333;
// }


// .Main{
//     margin: 0 auto;
//     width: 50%;
// }

// #auth, #Terminal, #Table, #Buyers{
//     padding: 0 4%;
//     margin: 25% auto;
//     width: 20%;
//     color: #015666;
//     border: 1px solid #333;
//     border-radius: 25px;
//     background-color: #37B6CE;  
//     display: flex;
//     justify-content: space-around;
//     flex-direction: column;
// }

// #auth > input, .Submit{
//     border-radius: 25px;
//     padding: 1%;
//     margin: 1% 0% 1% 0%;
//     width: 50%;
//     text-align: center;
//     cursor: pointer;
//     font-size: inherit;
// }

// label{
//     color: #015666;
//     font-size: 20px;
// }

// .SideBar{
//     width:max-content;
//     max-width: 400px;
//     height: 400px;
//     top: 20%;
//     border-radius: 25px;
//     display: flex;
//     justify-content: space-around;
//     flex-direction: column;
// }


// .SideBar > div:nth-child(2){
//     display: flex;
//     justify-content: space-around;
//     flex-direction: column;
//     height: 50%;
//     padding: 0 5%;
// }

// .SideBar > div:nth-child(2) > .Submit{
//     height: 25%;
// }

// .SideBar > img{
//     width: 20px;
//     height: 20px;
// }

// #Table{
//     border: 1px solid black;
// }